<mat-card>
  <button mat-raised-button (click)="seek()">Seek To {{ seekTime }} Seconds</button>

    <button mat-raised-button (click)="removeSongFromPlaylist()">Remove Song From Current Playlist</button>
    <button mat-raised-button (click)="removeSongFromPlaylist(true)">Remove Song From Current Playlist (Plus Seek)</button>
    <button mat-raised-button (click)="play()">Play</button>
    <button mat-raised-button (click)="pause()">Pause</button>
  <button mat-raised-button (click)="removeToken()">Remove API Token</button>
</mat-card>
<mat-card>
  Add Song to Playlist
  <button mat-raised-button (click)="addToPlaylist(playlist)" *ngFor="let playlist of config.favoritePlaylists">{{ playlist.name }}</button>
</mat-card>

<mat-card>
  <span>Response</span>
  {{ apiResponse | json }}
</mat-card>
