<mat-card>
  <form class="sm-form" #spotifyForm="ngForm" (ngSubmit)="submitSpotifyConfig(spotifyForm)">
    <mat-form-field class="full-width">
      <input matInput placeholder="Spotify Username" name="spotifyUsername" [(ngModel)]="config.spotifyUsername">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Spotify ID" name="spotifyId" [(ngModel)]="config.spotifyId">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Spotify Secret" name="spotifySecret" [(ngModel)]="config.spotifySecret">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="number" placeholder="Seek Time (Seconds)" name="seekSeconds" [(ngModel)]="config.seekSeconds">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select [compareWith]="compareFunc"  placeholder="Favorite Editable Playlists" multiple name="playlists" [(ngModel)]="playlists">
        <mat-select-trigger>
          {{ playlists.length ? playlists[0].name : '' }}
          <span *ngIf="playlists.length > 1" class="example-additional-selection">
            (+{{ playlists.length - 1 }} others)
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let playlist of editablePlaylists" [value]="playlist">{{ playlist.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button routerLink="/" type="button">
      <i class="material-icons">cancel</i>
      Cancel
    </button>
    <button mat-raised-button type="submit">
      <i class="material-icons">save</i>
      Save
    </button>
  </form>
</mat-card>
