<mat-card>
  <form class="sm-form" #spotifyForm="ngForm" (ngSubmit)="submitSpotifyConfig(spotifyForm)">
    <mat-form-field class="full-width">
      <input matInput placeholder="Spotify ID" name="spotifyId" [(ngModel)]="spotifyId">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Spotify Secret" name="spotifySecret" [(ngModel)]="spotifySecret">
    </mat-form-field>

    <button mat-raised-button type="submit">
      <i class="material-icons">save</i>
      Save
    </button>
  </form>
</mat-card>
