@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. */
  flex: 1 1 auto;
}

.sm-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
