@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. */
  flex: 1 1 auto;
}

.sm-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

/*
 * Actual Sticky Footer Styles
 */
.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
/* Make the Component injected by Router Outlet full height */
main {
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}
